*{
    padding: 0;
    margin: 0;
    color: #EEFFFF;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    margin: auto;
    width: 1440px;
    height:3000px;
    background-image: url(../img/decoration.png),linear-gradient(#000000, #461AC4) ;
    background-position: top;
}

.illustrate-page{
    margin: auto;
    width: 1440px;
    height: 1612px;
}

.aboutme-page{
    margin: auto;
    width: 1440px;
    height: 1565px;
}

.illustrate-introdution{
    margin: auto;
    width: 1440px;
    height: 1060px;
}

.container{
    display: flex;
    flex-direction: column;
}

header .image1{
    width: 1440px;
    height: 308px;
    object-fit:cover;
}

header .image2{
    width: 1440px;
    height: 308px;
    object-fit:cover;
}

.slider_container {
    width: 1440px;
    height: 308px;
    position:absolute;
    border-color: #fff;
    border-bottom-width: 100px;
    background-color: #f5f5f5;
    box-shadow: #666 0 0 5px;
}

.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.slider_container div {
    -webkit-animation: round 10s linear infinite;
            animation: round 10s linear infinite;
}

@-webkit-keyframes round {
    10% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    50% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    70% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
@keyframes round {
    10% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    50% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    70% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}


.slider_container span {    
    color: #000;

    position: absolute;
    left: 0%;
    top: 280px;
    width: 400px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    -webkit-transform:scaleY(0);
        -ms-transform:scaleY(0);
            transform:scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.slider_container:hover span {
    width: 100%;
    -webkit-transform:scaleY(1);
        -ms-transform:scaleY(1);
            transform:scaleY(1);
}

.slider_container:hover div {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

.header{
    height: 302px;
    width: 1440px;
}

.nav{
    background-color: #0C0422;
    height: 64px;
    text-decoration: none;
}

.navlink{
    margin: 0;
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #000;
}

.childnav li{  
    background-color: #0C0422;
    width: 115px;
  }

.navlink:hover{
    background-color: #3206AE;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 17px;
}

.childnav{
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    list-style: none;
    position: absolute;
    display: none;
}

.childnav .navlink{
    display: flex;
}

.parentsnav:hover .childnav{
    display: block;
}

.personalfile{
    height: 790px;
    display: flex;
    flex-direction: row;

}

.profilebox{
    display: flex;
    position: relative;
    width: 334px;
    height: 334px;
    top: 230px;
    left:223px;
    z-index: 1;
}

.img-me{
    display: block;
}

.profilecontext{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 593px;
    height: 395px;
    background-color: #939393;
    top: 200px;
    left:148px;
}

.profiletitle{
    display: flex;
    margin:16px 0 0 63px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.name{
    display: flex;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:45px 0 0 105px;
}

.school{
    display: flex;
    margin: 6px 0 0 105px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.myfile{
    display: flex;
    margin:16px 0 0 105px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.workfile{
    display: block;
}

.workfiletitle{
    display: flex;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #191919;
    width: 909px;
    height: 30px;
    padding-left: 51px;
    margin: 0 auto 18px auto;
    position: relative;
    padding-bottom: 10px;
    text-align: left;
    align-items: end;
}

.illustration{
    height: 770px;
}

.illustrate-title{
    display:block;
    width: fit-content;
    position: relative;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Noto Serif Bengali;
    left: 325px;
    top:73px;
}

.illustrate-area{
    display: inline-flex;
    flex-direction: row;
    justify-content: baseline;
    align-content: center;
    position: relative;
    top:207px;
    left: 413px;
}

.illustrate-text{
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content:center;
    font-family: Noto Sans Bengali;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #191919;
    width: 593px;
    height: 395px;
    position: relative;
    top:81px;
    right: 140px;
    padding-left: 235px;
    padding-top: 63px;
}

.illustrate-area img{
    z-index: 1;
}

.animation-title{
    display:block;
    width: fit-content;
    position: relative;
    font-family: Noto Sans Bengali;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 325px;
    top:73px;
}

.animation-area{
    display: inline-flex;
    flex-direction: row;
    position: relative;
    top: 180px;
    left: 360px;
}

.missme-img{
    width: 485px;
    height: 273px;
    z-index: 1;
}

.animation-text{
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content:center;
    font-family: Noto Sans Bengali;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #191919;
    width: 593px;
    height: 261px;
    position: relative;
    top:81px;
    right: 330px;
    padding-left: 400px;
    padding-top: 63px;
}

.contact{
    height: 509px;
}

.contact-title{
    display: flex;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #191919;
    width: 909px;
    height: 30px;
    padding-left: 51px;
    margin: 0 auto 18px auto;
    position: relative;
    padding-bottom: 10px;
    text-align: left;
    align-items: end;
    top:400px;
}

.phone{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
    top:430px;
    left: 448px;
}

.mail{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
    top:500px;
    left: 260px;
}

.phonenumber{
    padding-top: 13px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mailaddress{
    padding-left: 10px;
    padding-top: 8px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    top:440px;
    left: 370px;
}

.contact-icon{
    display: block;
    padding-bottom: 10px;
}

footer{
    margin-top: 138px;
    height: 60px;
    background-color: #000000;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 1440px;
  }

  .content-area{
    height: 1350px;
  }

  .illustrate-page-title{
    display: inline-flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
    width: 892px;
    height: 56.466px;
    position: relative;
    top: 80px;
    left:270px;
    font-family: Noto Serif Bengali;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #191919;
  }

  .row1{
    margin-top: 180px;
    display: flex;
    flex-direction: row;
  }

  .row2{
    margin-top: 180px;
    display: flex;
    flex-direction: row;
  }

  .img1{
    position: relative;
    top:10px;
    left: 380px;
    z-index: 1;
  }

  .box1{
    position: relative;
    top:50px;
    left:210px;
    width: 204px;
    height: 363px;
    background-color: #191919;
  }

  .img2{
    position: relative;
    top:10px;
    left: 430px;
    z-index: 1;
  }

  .box2{
    position: relative;
    top:50px;
    left: 260px;
    width: 204px;
    height: 363px;
    background-color: #191919;
  }

  .img3{
    position: relative;
    top:70px;
    left: 380px;
    z-index: 1;
  }

  .box3{
    position: relative;
    top: 115px;
    left: 210px;
    width: 204px;
    height: 363px;
    background-color: #191919;
  }

  .img4{
    position: relative;
    top:70px;
    left: 430px;
    z-index: 1;
  }

  .box4{
    position: relative;
    top: 115px;
    left: 255px;
    width: 204px;
    height: 297px;
    background-color: #191919;
  }

  .introduce-area{
    height: 800px;
  }

  .imgintro{
    display: flex;
    flex-direction: row;
  }

  .introduce-title{
    display: inline-flex;
    align-items: end;
    padding-top: 10px;
    padding-bottom: 1px;
    width: 892px;
    height: 30px;
    position: relative;
    top: 150px;
    left: 270px;
    font-family: Noto Serif Bengali;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #191919;
  }

  .img{
    display: block;
    width: 244px;
    height: 433px;
    position: relative;
    top: 210px;
    left: 350px;
    z-index: 1;
  }

  .img-tako{
    display: block;
    width: 274px;
    height: 385px;
    position: relative;
    top: 210px;
    left: 350px;
    z-index: 1;
  }

  .box-introduce{
    display: flex;
    position: relative;
    width: 638px;
    height: 433px;
    background-color: #191919;
    top: 280px;
    left: 200px;
  }

  .introduce-text{
    font-family: Noto Sans Bengali;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top:300px;
    right:250px;
  }

  .profilecontext-aboutme{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 593px;
    height: 799px;
    background-color: #939393;
    top: 200px;
    left:148px;
  }

  .personfile-area{
    height: 1000px;
  }
