

body {
    background-image: linear-gradient(#8E92FF, #C3EDFB);
    background-size: cover;
}

.page-name{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:35%;
    left:37%;
    z-index: 9999;
    align-items: center;
}

.page-subtitle {
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page-title {
    color: white;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.color1{
    color:#2e3f69dd;
}

.color2{
    color:#bcbcbccb;
}

.backtotop{
    position: fixed;
    z-index: 999999;
    margin-left: 1px;
    margin-top: 12px;
    transition: all;
    transition-duration: 0.5s;
}

.backtotop:hover{
    transform: scale(1.35);
}

.function-icon{
    background-color: #2c2c2c6d;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    top: 85%;
    left: 80%;
    height: 50px;
    width: 50px;
    z-index: 999;
    border-radius: 30px;
}

.function-icon-nav{
    position: absolute;
    background-color: #2c2c2c6d;
    margin-left: 85%;
    margin-top: 5px;
    height: 50px;
    width: 50px;
    z-index: 999999;
    border-radius: 30px;
}
.function-icon-nav2{
    position: absolute;
    background-color: #2c2c2c6d;
    margin-left: 85%;
    margin-top: 60px;
    height: 50px;
    width: 50px;
    z-index: 999999;
    border-radius: 30px;
}
.fix{
    margin-left: 10px;
}

.change-block {
    transition: background;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
.block-light{
    background-color: #6C95FF;
    border-radius: 10px;
}
.block-black{
    background-color: #191919;
    border-radius: 10px;
}
.text-white{
    color:#ffffff;
}

.hamburger {
    display: none;
    position: absolute;
    z-index: 99999;
}

.hamburger-h {
    display: none;
    position: absolute;
    z-index: 9999999;
}

@media (max-width:620px) {
    .hamburger {
        display: block;
    }

    .hamburger-h {
        display: block;
    }

    .nav-hide {
        display: none;
    }

    .row{
        width: 100%;
    }
}

@media (min-width:620px) {
    .h-menu {
        display: none;
    }
}

.nav-h {
    width: 100%;
    text-decoration: none;
    height: 62px;
    align-items: center;
    font-size: 24px;
    list-style: none;
}

.nav-item-h{
    padding-right: 50px;
    transition: all;
    transition-duration: 0.5s;
}


.nav-link-h {
    width: 100%;
    text-decoration: none;
}


.dropdown-menu-h {
    width: 100%;
    text-decoration: none;
    background-color: #303030;
    font-size: 24px;
    width: 108px;
}

.subnav-h {
    width: 200px;
    text-decoration: none;
    list-style: none;
    display: none;
    position: absolute;
    left: -32px;
    flex-direction: row;
}

.sub-item-h {
    text-decoration: none;
    width: 120px;

}

.h-w {
    width: 100%;
    margin: 50px auto;
}

.h-w-s {
    width: 100%;
    margin: 20px auto;
}

.background-b {

    width: 100%;
    background-color: #303030;
}

.row-fit {
    height: max-content;
}

.background {
    width: 100%;
    height: max-content;
}

.h-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;

}

.debug-cover {
    position: absolute;
    display: none;
    width: 100%;
    height: 450px;
    background-color: #303030;
    z-index: 9999;
}

.show {
    display: block;
}

.nav {
    text-decoration: none;
    background-color: #45598F;
    height: 62px;
    align-items: center;
    font-size: 24px;
}

.cover-img {
    background: rgba(67, 67, 67, 0.50);
    display: none;
    width: 100%;
    height: 100%;
}

.phone-img {
    margin-left: auto;
    margin-right: auto;
    display: none;
    max-width: 320px;
}

@media (max-width:620px) {
    .cover-img {
        display: block;
        position: absolute;
    }

    .s-hide {
        display: none;
    }

    .phone-img {
        display: block;
    }

    .not-phone {
        display: none;
    }
}

@media (max-width:768px) {
    .s-hide {
        display: none;
    }

    .phone-img {
        display: block;
    }

    .not-phone {
        display: none;
    }
}

.title {
    position: relative;
    bottom: 15px;
    font-size: 36px;
    word-wrap: keep-all;
    min-width: 80px;
}

.container {
    padding: 0;
}

.nav-link {
    height: auto;
    padding-top: 13px;
    padding-bottom: 13px;
    transition: font-size, transform;
    transition-duration: 0.5s;
}
.nav-link:hover {
    background-color: #3206AE;
    transform: scale(1.1);
}


.dropdown-menu {
    background-color: #45598F;
    font-size: 24px;
    width: 108px;
}

.subnav {
    list-style: none;
    display: none;
    position: absolute;
    left: -32px;
    flex-direction: row;
}

.sub-item {
    width: 104px;
    background-color: #45598F;
}


.dropdown:hover>.subnav-h {
    display: block;
}

.dropdown:hover>.subnav {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

#profile-title {
    font-size: 36px;
}

#name {
    font-size: 32px;
}

#personintro {
    font-size: 24px;
}

#card-img {
    max-width: 316px;
}

.z {
    z-index: 99;
}

#cardtext {
    align-items: center;
    justify-content: center;
    padding-left: 90px;
    padding-right: 50px;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row-fill {
    width: 70%;
}

.row-fill-s {
    width: 25%;
}

.card-body {
    width: auto;
}

.card-row {
    width: auto;
}

.card-text {
    font-size: 24px;
}

.card-title {
    font-size: 32px;
}

.title-hover{
    transition: all;
    transition-duration: 0.5s;
}
.title-hover:hover{
    transform: scale(1.15);
}

.card-a {
    cursor: pointer;
    font-size: 36px;
    text-decoration: none;
    color: #000;
}

.card-a-s {
    cursor: pointer;
    font-size: 32px;
    text-decoration: none;
    color: #000;
}

#person-area {
    margin-top: 200px;
}

.area-title {
    margin-top: 150px;
}

.text-down {
    position: relative;
    top: 150px
}

.text-right {
    position: relative;
    left: 50px;
}

.d {
    margin-top: 250px;
}

.text-area-down {

    position: relative;
    top: 50px;
}

.down {
    margin-top: 50px;
}

.p-number {
    margin: 0;
}

.mailaddress {
    margin: 0;
    word-wrap: break-all;
}

.contact-row {
    margin-top: 60px;
    margin-bottom: 20px;
}

.align-middle1{
    margin-left: 10px;
    margin-top: 12px;
}

.align-middle2{
    margin-left: 10px;
    margin-top: 8px;
}


.foot {
    width: 100%;
    color: #FFFFFF;
}

.vedio {
    max-width: 500px;
}

.margin-b {
    margin-bottom: 120px;
}

.row-fix{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

html {
    transition: background-color 1s;
}

.moon-logo {
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 1s ease-out;
}

.sun-logo {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 1s ease-out;
}

.moon-logo2 {
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 1s ease-out;
}

.sun-logo2 {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 1s ease-out;
}

#Toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    z-index: 999999999;
    cursor: pointer;
    transition: all;
    transition-duration: 0.5s;
}
#Toggle2 {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    z-index: 999999999;
    cursor: pointer;
    transition: all;
    transition-duration: 0.5s;
}
#Toggle:hover{
    transform: scale(1.3);
}
#Toggle2:hover{
    transform: scale(1.3);
}

.sun,
.moon {
    font-size: 10rem;
    width: fit-content;
    height: fit-content;
}
.sun{
    position: relative;
    right:3px;
}

.moon {
    position: absolute;
    inset: 0;
}

.moon-logo {
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
}

.sun-logo {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
}
.moon-logo2 {
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
}
.sun-logo2 {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
}

.animate-sun {
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
    color: aliceblue;
}

.animate-moon {
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
    color: aliceblue;
}
.animate-sun2 {
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
    color: aliceblue;
}

.animate-moon2 {
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
    color: aliceblue;
}


.star {
    position: absolute;
    bottom: -30px;
    font-size: 24px;
    z-index: -1;
}

.fa-circle{
    color:#ffffffb7;
}

.fa-star{
    color:#f2ff4391;
}

.nav-hover::before {
    content: '';
    position: absolute;
    bottom: 0.3rem;
    width: 0;
    height: 5px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
}	

.nav-hover2:hover::before {
    width: 45px;
}
.nav-hover3:hover::before {
    width: 72px;
}
.nav-hover4:hover::before {
    width: 97px;
}







.Container {
	min-height: 180vh;
	max-width: 940px;
	margin: 20px auto;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-right: 40px;
	display: grid;
	gap: 2rem;
	grid-template-rows: 	auto
	                    	1fr
								auto;
}

.text-style {
	text-indent: 1.8em;
	line-height: 1.7;
}

/* Header Style */
.header {
    width: 360px;
	height: 700px;
	margin-top: 20px;
	font-weight: 400;
	transition: opacity 1s ease-in-out;
}

.header:hover {
	opacity: 0.6;
	cursor: pointer;
}

.header img {
	width: 100%;
	height: 90%;
	object-position:left;
}

/* Content Style */
.content-area {
    padding-top: 30px;
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
    width:70%;
}

/* CSS Grid */
.image-wrap {
   display: grid;
   gap: 2rem;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   object-fit:contain;
}

/* Gallery Style */
.gallery {
	list-style: none;
	margin-bottom: 30px;
	padding: 0;

}

.gallery__item {
	transition: opacity 1s ease-in-out;
    display: block; 
    max-width: 100%;  
    height: auto;  
    cursor: crosshair;
}

.gallery__item:hover {
	opacity: 0.6;
	cursor: pointer;
}

.gallery__item-image {
	width: 100%;
	display: block;
	object-fit:contain;
}

.introducing{
    display: flex;   
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: absolute;
    margin-top: 120px;
    margin-left: 13vw;
    height: 500px;
    width: 600px;
    z-index: -1;
}

.introducing-text-area{
    width: 50%;
    height: fit-content;
    position: relative;
    right: 50px;
}

.introducing-text-area p{
    font-size: 25px;
}


@media (max-width:768px) {
    .Container{
        padding: 0;
    }
    .header{
        width: 320px;
        margin: auto;
    }
    .introducing{
        display: block;
        position: relative;
        height: 300px;
        width: 300px;
        z-index: -1;
        margin-top: -100px;
        margin-left: auto;
        margin-right: auto;
    }
    .introducing-text-area{
        margin-top: 30px;
        width: 300px;
        position: relative;
        padding-left: 60px;
        margin-left: auto;

    }
    
    .introducing-text-area p{
        font-size: 16px;
    }
    .anime-text{
        margin-left: -70px;
    }

    .vedio{
        width: 400px;
    }
}

@media (max-width:426px){
    .mailaddress {
        max-width: 145px;
        margin: 0;
        word-wrap: break-all;
    }
    .anime-text{
        margin-left: -100px;
    }
}

@media (max-width:376px){
    .card-text{
        font-size: 20px;
        margin-left: -80px;
        margin-top: 20px;
    }
    .vedio{
        width: 320px;
    }
    .mailaddress {
        max-width: 145px;
        margin: 0;
        word-wrap: break-all;
    }
}

.filp-img5{
    max-width:340px ;
}

.fix-margin{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-adjust{
    margin-top: 75px;
}

.w-100{
    max-width: 100%;
    margin: 0;
}

.row{
    max-width: 100%;
}

.col{
    padding: 0;
}

.col-4{
    padding-right: 0;
}

.desk-cover-img{
    background: rgba(67, 67, 67, 0.30);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    position: absolute;
}

#contact-info{
    margin-bottom: 30px;
}

.align-middle{
    margin-left: auto;
    margin-right: auto;
}
