body{
    background-image:  url(../img/decoration.png),linear-gradient(#8E92FF, #C3EDFB) ;
    background-size: cover;
}

.nav{
    text-decoration: none;
    background-color: #45598F;
    height: 62px;
    align-items: center;
    font-size: 24px;
}

.cover-img{
    background: rgba(67, 67, 67, 0.50);
    display: none;
    width: 100%;
    height: 1342.22px;
}

.phone-img{
    display: none;
}

@media (max-width:620px) {
    .cover-img{
        display: block;
        position: absolute;
    }
    .s-hide{
        display: none;
    }
    .phone-img{
        display: block;
    }
    .not-phone{
        display: none;
    }
}

@media (max-width:768px) {
    .s-hide{
        display: none;
    }
    .phone-img{
        display: block;
    }
    .not-phone{
        display: none;
    }
}

.title{
    position: relative;
    bottom: 15px;
    font-size: 36px;
}

.container{
    padding: 0;
}

.nav-link:hover{
    background-color: #3206AE;
}

.nav-link{
    height: auto;
    padding-top: 13px;
    padding-bottom: 13px;
}

.dropdown-menu{
    background-color: #45598F;
    font-size: 24px;
    width: 108px;
}

.subnav{
    list-style: none;
    display: none;
    position: absolute;
    left: -32px;
    flex-direction: row;
}

.sub-item{
    width: 104px;
    background-color: #45598F;
}

.dropdown:hover>.subnav {
    display: block;
  }
  
.dropdown>.dropdown-toggle:active {
   pointer-events: none;
}

#profile-title{
    font-size: 36px;
}

#name{
    font-size: 32px;
}

#personintro{
    font-size: 24px;
}

#card-img{
    max-width: 316px;
}

.z{
    z-index: 99999;
}

#cardtext{
    background-color: #6C95FF;
    align-items: center;
    justify-content: center;
    padding-left: 90px;
    padding-right: 50px;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row-fill{
    width: 70%;
    background-color: #6C95FF;
}

.row-fill-s{
    width: 25%;
    background-color: #6C95FF;
}

.card-body{
    width: auto;
}

.card-row{
    width: auto;
}

.card-text{
    font-size: 24px;
}

.card-title{
    font-size: 32px;
}

.card-a{
    cursor: pointer;
    font-size: 36px;
    text-decoration: none;
    color:#000;
}

.card-a-s{
    cursor: pointer;
    font-size: 32px;
    text-decoration: none;
    color:#000;
}

#person-area{
    margin-top: 200px;
}

.area-title{
    margin-top: 150px;
}

.text-down{
    position: relative;
    top:150px
}

.text-right{
    position: relative;
    left:50px;
}

.d{
    margin-top: 250px;
}

.text-area-down{
    
    position: relative;
    top: 50px;
}

.down{
    margin-top: 50px;
}

.foot{
    width: 100%;
    color:#FFFFFF;
}

